<?xml version="1.0" encoding="utf-8"?>
<package>
  <!-- Basic Package Info -->
  <info>
    <name>Part-Goals-Management-Extensions</name>
    <label>Part-Goals-Management-Extensions</label>
    <version>12.0.3</version>
    <version_label>12.0R1</version_label>
    <type>aia</type>
    <owner>Aras Corporation</owner>
    <description>The purpose of this add-on package is to extent the Part Goals functionality of Product Engineering.Target values are now decoupled from the other goal values (separate rollups)</description>
    <copyright>©2020 Aras Corporation</copyright>
    <package_icon>package.ico</package_icon>
    <more_information_url>
    </more_information_url>
    <tool_minimal_version_required>1.7</tool_minimal_version_required>
  </info>
  <!-- Installation Process -->
  <installation do_backup="false">
    <module id="IS" label="Code tree update" description="Copy files into the code tree (images only)" required_properties="Innovator.Dir">
	  <echo>Adding code tree patches to folder: ${Innovator.Dir}/Client</echo>
      <copy todir="${Innovator.Dir}/" failonerror="true">
        <fileset basedir="${Package.Dir}/CodeTree/Innovator">
          <include name="**" />
        </fileset>
      </copy>
    </module>
    <module id="DB" label="Import into Innovator DB" description="Install module db" required_properties="Innovator.URL|Innovator.DB|Innovator.Username|Innovator.Password">
	  <echo>Checking, for valid innovator relases and if required standard apps "PE" exist</echo>
      <dependencies>
        <or>
          <innovator version="12.0 SP5" />
          <innovator version="12.0 SP8" />
          <innovator version="12.0 SP9" />
          <innovator version="12.0 SP10" />
          <innovator version="12.0 SP11" />
        </or>
		<application exists="true" name="com.aras.innovator.solution.PLM" >
		</application>
      </dependencies>
	  <echo>Importing rollup-utilities</echo>
      <import dir="${Package.Dir}/imports/" mfile="${Package.Dir}/imports/1_imports-rollup-utilities.mf" failonerror="true" />
	  <echo>Importing Part Goals extensions</echo>
      <import dir="${Package.Dir}/imports/" mfile="${Package.Dir}/imports/2_imports-Part Goals extensions.mf" failonerror="true" />
	  <echo>Importing PE extensions</echo>
      <import dir="${Package.Dir}/imports/" mfile="${Package.Dir}/imports/3_imports-PE extensions.mf" failonerror="true" />
	  <echo>Importing Part Goals definitions</echo>
      <import dir="${Package.Dir}/imports/" mfile="${Package.Dir}/imports/4_imports-Part Goals definitions.mf" failonerror="true" />
	  <!--
	  <echo>Importing Combined_AIAG_VDA_FMEA cui fixes</echo>
      <import dir="${Package.Dir}/imports/12_imports_Combined_AIAG_VDA_FMEA_cuiFixes/" failonerror="true" />
	  -->
    </module>
  </installation>
</package>